<div class="banner d-flex justify-content-center align-items-center" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1549590143-d5855148a9d5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60); height: 20vh;">
    <div class="container">
      <h1 class="text-center"> <strong>Your Meal Plan</strong></h1>
      <p class="text-center">Adjust your mealplan</p>
      <!-- AddToAny BEGIN -->
      <div class="zindex-tooltip:: 1070 !default vw-100 pr-1">
      <div class="a2a_kit" data-a2a-url="http://www.coolcucumbers.de/meal_plans/<%= @plan.id %>">
      <h2><a class="a2a_dd" href="https://www.addtoany.com/share"><i class="fas fa-share-alt text-light text-right pb-4"></i></a></h2>
      </div>
      <script async src="https://static.addtoany.com/menu/page.js"></script>
      </div>
      <!-- AddToAny END -->
    </div>
  </div>




<% unless @plan.nil? %>
<% @plan.meals.order(id: :desc).each do |meal|%>
<div class="my-2">
  <div class="card-meal">
     <div class="d-flex">
      <div class="align-self-center" style="height: 120px">
        <img width="100" src="<%= meal.recipe.image_url.nil? ? "https://images.unsplash.com/photo-1504754524776-8f4f37790ca0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" : meal.recipe.image_url %>">
      </div>
        <div class="col-8 d-flex card-meal-infos lefty-border" style="align-items: center">
          <div class="details">
          <h3 class="font-c-6 mt-0"> <a href="/recipes/<%= meal.recipe.id %>"><%= meal.recipe.name.truncate(20) %></a> </h3>
            <div class="pl-1 desc-size ">
            <h5 class="font-c-neutral text-left text-secondary"><i class="fas fa-clock pr-1" aria-hidden="true"></i> <%= meal.recipe.prep_time %> minutes</h5>
            <p class="overflow-ellipsis"><%= meal.recipe.description.html_safe.truncate(24) %> </p>
            </div>
          </div>
          <div class="btn-form-wrapper">
            <form class="form-row">
              <div class="shuffle-btn">
                <a class="shuffle" data-remote="true" rel="nofollow" data-method="post" href="/meals/<%= meal.id %>/shuffle"><i class="fa fa-redo" aria-hidden="true"></i></a>
              </div>
              <div class="remove-btn">
                <a class="delete" data-remote="true" style="text-decoration:none;" rel="nofollow" data-method="delete" href="/meals/<%= meal.id %>"><i class="far fa-trash-alt" aria-hidden="true"></i></a>
              </div>
            </form>
          </div>
        </div>
       </div>
      </div>
      <% end %>
  <% end %>

  <div class="shopping-button">
    <form class="form-inline">
     <%=link_to meal_plan_meals_path(@plan), { class: "btn btn-primary",  style: "text-decoration:none;", method: 'post', remote: true } do %>
      <span>Add a Meal</span>
    <% end %>
  </form>
</div>


  <div class="quarter-ellipse2">
    <%= link_to meal_plan_shopping_list_items_path(@plan), class: "shopping_list" do %><i class="fas fa-scroll"></i><% end %>
  </div>

