<div class="m-3">
  <%= link_to '+', meal_plan_meals_path(@plan), {class: "btn btn-primary w-100", method: 'post'}%>
</div>


<% unless @plan.nil? %>
<% @plan.meals.order(id: :desc).each do |meal|%>
<div class="my-2">
  <div class="card-meal">
     <div class="d-flex" >
      <div class="align-self-center", style="height: 120px" >
        <img width=100 src="<%=  meal.recipe.image_url %> ">
      </div>
        <div class="col-8 card-meal-infos lefty-border">
          <div class="details">
          <h3 class="font-c-6 mt-3"> <%= link_to meal.recipe.name.truncate(24), recipe_path(meal.recipe) %> </h3>
            <div class="pl-1 desc-size ">
            <h5 class="font-c-neutral text-left text-secondary"><i class="fas fa-clock pr-1"></i> <%= meal.recipe.prep_time %> minutes</h5>
            <p class="overflow-ellipsis"> <%= meal.recipe.description.html_safe.truncate(24) %> </p>
            </div>
            <div class="btn-form-wrapper" grid-column-end: foo;>
              <form class="form-row">
                <div class="shuffle-btn">
                  <%= link_to shuffle_path(meal), { class: "shuffle", remote: true, method: 'post' } do %><i class="fa fa-redo" aria-hidden="true"></i><% end %>
                </div>
                <div class="remove-btn">
                  <%= link_to meal_path(meal), class: "delete", method: "delete",  style: "text-decoration:none;" do %><i class="far fa-trash-alt" aria-hidden="true"></i><% end %>
                </div>
              </form>
            </div>
          </div>
        </div>
       </div>
    </div>
<div>
<% end %>
  <%= link_to 'To My Shopping List', meal_plan_shopping_list_items_path(@plan), {class: "btn btn-danger mt-3 w-100"}  %>
<% end %>
<!-- /meal_plans/:meal_plan_id/shopping_list_items/
, {class: "btn btn-secondary"} -->

</div>
<br>
