<div class="container">
  <h5 class="text-muted pt-3 pl-2">Choose your preferences</h5>
  <div class="row container mb-3">

<% @top_choices.each do |choice| %>

<% next if Preference.exists?(tag_id: choice.id, user_id: current_user.id, kind: -1, active: true) %>

<div class="col-6 col-lg-2 col-md-3 col-sm-4 p-1">

  <% if Preference.exists?(tag_id: choice.id, user_id: current_user.id, kind: 1, active: true) %>
    <% pref = Preference.find_by(tag_id: choice.id, active: true) %>
    <form class="form-inline" >
      <%= link_to preference_deactivate_path(pref), { class: "btn-sm btn-primary w-100 text-center", method: "patch",  style: "text-decoration:none;" } do %>
        <span><%= choice.name %></span>
      <% end %>
    </form>

  <% else %>

    <form class="form-inline" >
      <%= link_to preference_tag_path(choice, kind: 1), { class: "btn-outline-primary btn-sm w-100 text-center", method: "post",  style: "text-decoration:none; border:1px solid;"} do %>
        <span><%= choice.name %></span>
      <% end %>
    </form>

  <% end %>

</div>

<% end %>
<div class="col-6 col-lg-2 col-md-3 col-sm-4 p-1">
    <form class="form-inline" >
      <%= link_to overview_path, { class: "btn-secondary btn-sm w-100 text-center", method: "get",  style: "text-decoration:none;"} do %>
        <span> More choices </span>
      <% end %>
    </form>
</div>
</div>
</div>

<%= simple_form_for @meal_plan do |f| %>
  <%= f.input :days %>
  <%= f.button :submit %>
<% end %>

<% if @show_mp %>
<%  current_user.meal_plans.last.meals.each do |meal| %>
<p> <%= meal.recipe.name %> </p>
<% end %>
<% end %>
