<div class="m-2">
<% unless @plan.nil? %>
<h4 class="m-3"> A Meal Plan for <%= @plan.days %> Days</h4>
<% @plan.meals.order(id: :desc).each do |meal|%>
<div class="my-2">
  <div class="card-meal">
     <div class="d-flex">
      <div class="align-self-center" ,="" style="height: 120px">
        <img width="100" src="<%= meal.recipe.image_url.nil? ? "https://images.unsplash.com/photo-1504754524776-8f4f37790ca0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" : meal.recipe.image_url %>">
      </div>
        <div class="col-8 d-flex card-meal-infos lefty-border" style="align-items: center">
          <div class="details">
          <h3 class="font-c-6 mt-0"> <a href="/recipes/<%= meal.recipe.id %>"><%= meal.recipe.name.truncate(20) %></a> </h3>
            <div class="pl-1 desc-size ">
            <h5 class="font-c-neutral text-left text-secondary"><i class="fas fa-clock pr-1" aria-hidden="true"></i> <%= meal.recipe.prep_time %> minutes</h5>
            <p class="overflow-ellipsis"><%= meal.recipe.description.truncate(24) %> </p>
            </div>
          </div>
        </div>
       </div>
      </div>

<div>
<% end %>
<% end %>
      <%= link_to 'Save to my Account', meal_plan_save_path(@plan), {class: "btn btn-primary mt-3 w-100", method: 'post'}  %>
</div>
