<!DOCTYPE html>
<html>
<head>
  <title> <%= params[:category] %></title>
</head>
<body>
   <% if params[:category] == "cuisines"  %>
      <% i = '-danger' %>
      <% f = 'font-c-4' %>
  <% elsif params[:category] == "top_choice" %>
      <% i = '-secondary'  %>
      <% f = 'font-c-3' %>
    <% elsif params[:category] == "dish_types"%>
      <% i = '-info text-white'  %>
      <% j = '-info'  %>
      <% f = 'font-c-1' %>
  <% else%>
      <% i = '-warning' %>
  <% end %>

  <div class="m-3">
     <div class="row justify-content-left mt-2 ml-1 mb-3">
      <a class="<%= f %>" href='/preferences'>
        <i class="fas fa-long-arrow-alt-left mr-1"></i>
        <u>Return to preference overview</u>
      </a>
    </div>
    <h1> Select from all <%= @category.capitalize.gsub("_"," ") %></h1>

    <div class="justify-content-center p-1 mb-3">
    <%= form_tag preferences_category_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control w-80",
        placeholder: "Find ingredient"
      %>
      <%#= submit_tag "Find", class: "font-c-5" %>
    <% end %>
    </div>

    <div class="row p-1">
        <% @tags.each do |tag| %>
       <%next if tag.name == 'sustainable' || tag.name == 'cheap' || tag.name == 'veryPopular'%>

        <div class="col-6 col-lg-2 col-md-3 col-sm-4 p-1">

          <% if Preference.exists?(tag_id: tag.id, user_id: current_user.id) %>
            <% pref = Preference.find_by(tag_id: tag.id, active: true) %>
            <form class="form-inline" >
              <%= link_to preference_tag_path(tag), { class: "btn-sm btn#{i} w-100 text-center inc-pref", method: "post",  style: "text-decoration:none;border:1px solid;", remote: true } do %>
                <span><%= tag.name %></span>
              <% end %>
            </form>

          <% else %>

            <form class="form-inline" >
              <%= link_to preference_tag_path(tag), { class: "btn-sm btn-outline#{j} w-100 text-center no-pref", method: "post",  style: "text-decoration:none; border:1px solid;", remote: true} do %>
                <span><%= tag.name %></span>
              <% end %>
            </form>

          <% end %>

        </div>

        <% end %>

    </div>

</body>
</html>
