
<div class="justify-content-center mb-3 px-4 pt-0">

<% if @top_choices.length == 0 %>
<div>
  <h5 class="text-muted pt-3">No Main Tags matching your search</h5>
  </div>
<% else %>
  <h5 class="text-muted pt-3">Select from Main Tags</h5>
  <div class="row">

<% @top_choices.each do |choice| %>

<%next if Preference.exists?(tag_id: choice.id, user_id: current_user.id, kind: -1, active: true) || choice.name == 'sustainable' || choice.name == 'cheap' || choice.name == 'veryPopular'%>

<div class="col-6 col-lg-2 col-md-3 col-sm-4 p-1">

  <% if Preference.exists?(tag_id: choice.id, user_id: current_user.id) %>
    <% pref = Preference.find_by(tag_id: choice.id, user_id: current_user.id) %>
    <form class="form-inline" >
      <%= link_to preference_tag_path(choice), { class: "btn-sm btn-secondary w-100 text-center inc-pref", method: "post",  style: "text-decoration:none;border:1px solid;", remote: true } do %>
        <span><%= choice.name %></span>
      <% end %>
    </form>

  <% else %>

    <form class="form-inline" >
      <%= link_to preference_tag_path(choice), { class: "btn-sm btn-outline-secondary w-100 text-center btn-fill-skew no-pref", method: "post",  style: "text-decoration:none; border:1px solid;", remote: true} do %>
        <span><%= choice.name %></span>
      <% end %>
    </form>

  <% end %>

</div>

<% end %>

  </div>
<% end %>
<div class="row justify-content-left mt-2 ml-1 mb-3">
  <a class="font-c-3" href='/preferences/top_choice'>
    <u>See more top choices</u>
    <i class="fas fa-long-arrow-alt-right ml-1"></i>
  </a>
</div>


<% if @cuisines.length == 0 %>
<div>
  <h5 class="text-muted pt-3">No Cuisines matching your search</h5>
  </div>
<% else %>

  <h5 class="text-muted pt-3">Select from Cuisines</h5>
  <div class="row">

<% @cuisines.each do |choice| %>

<% next if Preference.exists?(tag_id: choice.id, user_id: current_user.id, kind: -1, active: true) %>

<div class="col-6 col-lg-2 col-md-3 col-sm-4  p-1">

  <% if Preference.exists?(tag_id: choice.id, user_id: current_user.id) %>
    <% pref = Preference.find_by(tag_id: choice.id, user_id: current_user.id) %>
    <form class="form-inline" >
      <%= link_to preference_tag_path(choice), { class: "btn-sm btn-danger w-100 text-center inc-pref", method: "post",  style: "text-decoration:none;border:1px solid;", remote: true } do %>
        <span><%= choice.name %></span>
      <% end %>
    </form>

  <% else %>

    <form class="form-inline" >
      <%= link_to preference_tag_path(choice), { class: "btn-sm btn-outline-danger w-100 text-center no-pref", method: "post",  style: "text-decoration:none;border:1px solid;", remote: true} do %>
        <span><%= choice.name %></span>
      <% end %>
    </form>

  <% end %>

</div>

<% end %>

  </div>
<% end %>
<div class="row justify-content-left mt-2 ml-1 mb-3">
  <a class="font-c-4" href='/preferences/cuisines'>
    <u>See more cuisines</u>
    <i class="fas fa-long-arrow-alt-right ml-1"></i>
  </a>
</div>

  <% if @types.length == 0 %>
  <div>
  <h5 class="text-muted pt-3">No Dish Types matching your search</h5>
  </div>
<% else %>

  <h5 class="text-muted pt-3">Select from Dish Types</h5>
  <div class="row">

<% @types.each do |choice| %>

<% next if Preference.exists?(tag_id: choice.id, user_id: current_user.id, kind: -1, active: true) %>

<div class="col-6 col-lg-2 col-md-3 col-sm-4  p-1">

  <% if Preference.exists?(tag_id: choice.id, user_id: current_user.id) %>
    <% pref = Preference.find_by(tag_id: choice.id, user_id: current_user.id) %>
    <form class="form-inline" >
      <%= link_to preference_tag_path(choice), { class: "btn-sm btn-info w-100 text-center inc-pref text-white", method: "post",  style: "text-decoration:none;border:1px solid;", remote: true } do %>
        <span><%= choice.name %></span>
      <% end %>
    </form>

  <% else %>

    <form class="form-inline" >
      <%= link_to preference_tag_path(choice), { class: "btn-sm btn-outline-info w-100 text-center no-pref", method: "post",  style: "text-decoration:none;border:1px solid;", remote: true} do %>
        <span><%= choice.name %></span>
      <% end %>
    </form>

  <% end %>

</div>
<% end %>
</div>
<% end %>
<div class="row justify-content-left mt-2 ml-1 mb-3">
  <a class="font-c-1" href='/preferences/dish_types'>
    <u>See more dish types</u>
    <i class="fas fa-long-arrow-alt-right ml-1"></i>
  </a>
</div>


   <!-- FOR EXCLUSION OF TAGS ONLY - WE DO NOT DO THIS RIGHT NOW -->

<!--     <h5 class="text-muted pt-3 pl-2">Types of Dishes you want to avoid</h5>
  <div class="row container mb-3">

<% @types.each do |choice| %>

<% next if Preference.exists?(tag_id: choice.id, user_id: current_user.id) %>
<% pref = Preference.find_by(tag_id: choice.id, user_id: current_user.id) %>
<div class="col-6 col-lg-2 col-md-3 col-sm-4  p-1">

  <% if Preference.exists?(tag_id: choice.id, user_id: current_user.id, kind: -1, active: true) %>

    <form class="form-inline" >
      <%= link_to preference_tag_path(choice), { class: "btn-sm btn-danger w-100 text-center", method: "post",  style: "text-decoration:none;", remote: true } do %>
        <span><%= choice.name %></span>
      <% end %>
    </form>

  <% else %>

    <form class="form-inline" >
      <%= link_to preference_tag_path(choice, kind: -1), { class: "btn-sm btn-outline-danger w-100 text-center", method: "post",  style: "text-decoration:none;border:1px solid;", remote: true } do %>
        <span><%= choice.name %></span>
      <% end %>
    </form>

  <% end %>

</div>

<% end %>
  </div>

  </div>
    <div class="d-flex justify-content-center">
      <a class="btn btn-primary m-3" id="btn-lg" href='/meal_plans/new'>Back to Meal Plan</a>
    </div>


</div> -->

<% if @ingredients.length == 0 %>
<div>
  <h5 class="text-muted pt-3">No Ingredients matching your search</h5>
</div>
<% else %>

  <h5 class="text-muted pt-3">Select your favourite Ingredients</h5>
  <div class="row">

<% @ingredients.each do |choice| %>

<% next if Preference.exists?(ingredient_id: choice.id, user_id: current_user.id, kind: -1, active: true) %>

<div class="col-6 col-lg-2 col-md-3 col-sm-4  p-1">

  <% if Preference.exists?(ingredient_id: choice.id, user_id: current_user.id) %>
    <% pref = Preference.find_by(ingredient_id: choice.id, user_id: current_user.id) %>
    <form class="form-inline" >
      <%= link_to preference_ingredient_path(choice), { class: "btn-sm btn-warning w-100 text-center inc-pref", method: "post",  style: "text-decoration:none;border:1px solid;", remote: true } do %>
        <span><%= choice.name %></span>
      <% end %>
    </form>

  <% else %>

    <form class="form-inline" >
      <%= link_to preference_ingredient_path(choice), { class: "btn-sm btn-outline-warning w-100 text-center no-pref", method: "post",  style: "text-decoration:none;border:1px solid;", remote: true} do %>
        <span><%= choice.name %></span>
      <% end %>
    </form>

  <% end %>

</div>
<% end %>
</div>
<% end %>
<div class="row justify-content-left mt-2 ml-1 mb-3">
  <a class="font-c-5" href='/preferences/ingredients'>
    <u>See more ingredients</u>
    <i class="fas fa-long-arrow-alt-right ml-1"></i>
  </a>
</div>

<div class="row">
    <div class="d-flex justify-content-center col-12 vw-100 mr-0">
      <a class="btn btn-primary mt-3 w-100" id="btn-lg" href='/meal_plans/new'>Create Meal Plan</a>
    </div>
</div>

  </div>
