

<div class="container">
  <h5 class="text-muted pt-3 pl-2">Main Categories you love</h5>
  <div class="row container mb-3">

<% @top_choices.each do |choice| %>

<% next if Preference.exists?(tag_id: choice.id, user_id: current_user.id, kind: -1, active: true) %>

<div class="col-6 col-lg-2 col-md-3 col-sm-4 p-1">

  <% if Preference.exists?(tag_id: choice.id, user_id: current_user.id, kind: 1, active: true) %>
    <% pref = Preference.find_by(tag_id: choice.id, active: true) %>
    <form class="form-inline" >
      <%= link_to preference_deactivate_path(pref), { class: "btn-sm btn-secondary w-100 text-center", method: "patch",  style: "text-decoration:none;" } do %>
        <span><%= choice.name %></span>
      <% end %>
    </form>

  <% else %>

    <form class="form-inline" >
      <%= link_to preference_tag_path(choice, kind: 1), { class: "btn-outline-secondary btn-sm w-100 text-center", method: "post",  style: "text-decoration:none; border:1px solid;"} do %>
        <span><%= choice.name %></span>
      <% end %>
    </form>

  <% end %>

</div>

<% end %>

  </div>

    <h5 class="text-muted pt-2 pl-2">Main Categories you want to avoid</h5>
  <div class="row container mb-3">

<% @top_choices.each do |choice| %>

<% next if Preference.exists?(tag_id: choice.id, user_id: current_user.id, kind: 1, active: true) %>
<% pref = Preference.find_by(tag_id: choice.id, active: true) %>
<div class="col-6 col-lg-2 col-md-3 col-sm-4  p-1">

  <% if Preference.exists?(tag_id: choice.id, user_id: current_user.id, kind: -1, active: true) %>

    <form class="form-inline" >
      <%= link_to preference_deactivate_path(pref), { class: "btn-sm btn-danger w-100 text-center", method: "patch",  style: "text-decoration:none;" } do %>
        <span><%= choice.name %></span>
      <% end %>
    </form>

  <% else %>

    <form class="form-inline" >
      <%= link_to preference_tag_path(choice, kind: -1), { class: "btn-sm btn-outline-danger w-100 text-center", method: "post",  style: "text-decoration:none;border:1px solid;" } do %>
        <span><%= choice.name %></span>
      <% end %>
    </form>

  <% end %>

</div>

<% end %>

  </div>

  <h5 class="text-muted pt-2 pl-2">Cuisines you love</h5>
  <div class="row container mb-3">

<% @cuisines.each do |choice| %>

<% next if Preference.exists?(tag_id: choice.id, user_id: current_user.id, kind: -1, active: true) %>

<div class="col-6 col-lg-2 col-md-3 col-sm-4  p-1">

  <% if Preference.exists?(tag_id: choice.id, user_id: current_user.id, kind: 1, active: true) %>
    <% pref = Preference.find_by(tag_id: choice.id, active: true) %>
    <form class="form-inline" >
      <%= link_to preference_deactivate_path(pref), { class: "btn-sm btn-secondary w-100 text-center", method: "patch",  style: "text-decoration:none;" } do %>
        <span><%= choice.name %></span>
      <% end %>
    </form>

  <% else %>

    <form class="form-inline" >
      <%= link_to preference_tag_path(choice, kind: 1), { class: "btn-sm btn-outline-secondary w-100 text-center", method: "post",  style: "text-decoration:none;border:1px solid;"} do %>
        <span><%= choice.name %></span>
      <% end %>
    </form>

  <% end %>

</div>

<% end %>

  </div>

    <h5 class="text-muted pt-2 pl-2">Cuisines you want to avoid</h5>
  <div class="row container mb-3">

<% @cuisines.each do |choice| %>

<% next if Preference.exists?(tag_id: choice.id, user_id: current_user.id, kind: 1, active: true) %>
<% pref = Preference.find_by(tag_id: choice.id, active: true) %>
<div class="col-6 col-lg-2 col-md-3 col-sm-4  p-1">

  <% if Preference.exists?(tag_id: choice.id, user_id: current_user.id, kind: -1, active: true) %>

    <form class="form-inline" >
      <%= link_to preference_deactivate_path(pref), { class: "btn-sm btn-danger w-100 text-center", method: "patch",  style: "text-decoration:none;" } do %>
        <span><%= choice.name %></span>
      <% end %>
    </form>

  <% else %>

    <form class="form-inline" >
      <%= link_to preference_tag_path(choice, kind: -1), { class: "btn-sm btn-outline-danger w-100 text-center", method: "post",  style: "text-decoration:none;border:1px solid;" } do %>
        <span><%= choice.name %></span>
      <% end %>
    </form>

  <% end %>

</div>

<% end %>

  </div>

  <h5 class="text-muted pt-2 pl-2">Types of Dishes you love</h5>
  <div class="row container mb-3">

<% @types.each do |choice| %>

<% next if Preference.exists?(tag_id: choice.id, user_id: current_user.id, kind: -1, active: true) %>

<div class="col-6 col-lg-2 col-md-3 col-sm-4  p-1">

  <% if Preference.exists?(tag_id: choice.id, user_id: current_user.id, kind: 1, active: true) %>
    <% pref = Preference.find_by(tag_id: choice.id, active: true) %>
    <form class="form-inline" >
      <%= link_to preference_deactivate_path(pref), { class: "btn-sm btn-secondary w-100 text-center", method: "patch",  style: "text-decoration:none;" } do %>
        <span><%= choice.name %></span>
      <% end %>
    </form>

  <% else %>

    <form class="form-inline" >
      <%= link_to preference_tag_path(choice, kind: 1), { class: "btn-sm btn-outline-secondary w-100 text-center", method: "post",  style: "text-decoration:none;border:1px solid;"} do %>
        <span><%= choice.name %></span>
      <% end %>
    </form>

  <% end %>

</div>

<% end %>

  </div>

    <h5 class="text-muted pt-2 pl-2">Types of Dishes you want to avoid</h5>
  <div class="row container mb-3">

<% @types.each do |choice| %>

<% next if Preference.exists?(tag_id: choice.id, user_id: current_user.id, kind: 1, active: true) %>
<% pref = Preference.find_by(tag_id: choice.id, active: true) %>
<div class="col-6 col-lg-2 col-md-3 col-sm-4  p-1">

  <% if Preference.exists?(tag_id: choice.id, user_id: current_user.id, kind: -1, active: true) %>

    <form class="form-inline" >
      <%= link_to preference_deactivate_path(pref), { class: "btn-sm btn-danger w-100 text-center", method: "patch",  style: "text-decoration:none;" } do %>
        <span><%= choice.name %></span>
      <% end %>
    </form>

  <% else %>

    <form class="form-inline" >
      <%= link_to preference_tag_path(choice, kind: -1), { class: "btn-sm btn-outline-danger w-100 text-center", method: "post",  style: "text-decoration:none;border:1px solid;" } do %>
        <span><%= choice.name %></span>
      <% end %>
    </form>

  <% end %>

</div>

<% end %>

  </div>

</div>

