

<div class="justify-content-center mb-3 px-4 pt-2">
  <div class="row">
    <div class="d-flex justify-content-center col-12 vw-100">
      <a class="btn btn-primary w-100 mt-3" id="btn-lg" href='/meal_plans/new'>Create Meal Plan</a>
    </div>
</div>
  <h5 class="text-muted pt-3">Select from quick choices</h5>
  <div class="row">

<% @top_choices.each do |choice| %>

<% next if Preference.exists?(tag_id: choice.id, user_id: current_user.id, kind: -1, active: true)%>

<div class="col-6 col-lg-2 col-md-3 col-sm-4 p-1">

  <% if Preference.exists?(tag_id: choice.id, user_id: current_user.id, kind: 1, active: true) %>
    <% pref = Preference.find_by(tag_id: choice.id, active: true) %>
    <form class="form-inline" >
      <%= link_to preference_deactivate_path(pref), { class: "btn-sm btn-secondary w-100 text-center inc-pref", method: "patch",  style: "text-decoration:none;" } do %>
        <span><%= choice.name %></span>
      <% end %>
    </form>

  <% else %>

    <form class="form-inline" >
      <%= link_to preference_tag_path(choice, kind: 1), { class: "btn-outline-secondary btn-sm w-100 text-center no-pref", method: "post",  style: "text-decoration:none; border:1px solid;"} do %>
        <span><%= choice.name %></span>
      <% end %>
    </form>

  <% end %>

</div>

<% end %>

  </div>

  <!-- FOR EXCLUSION OF TAGS ONLY - WE DO NOT DO THIS RIGHT NOW -->

  <!--   <h5 class="text-muted pt-3 pl-2">Main Categories you want to avoid</h5>
  <div class="row container mb-3">

<% @top_choices.each do |choice| %>

<% next if Preference.exists?(tag_id: choice.id, user_id: current_user.id, kind: 1, active: true) %>
<% pref = Preference.find_by(tag_id: choice.id, active: true) %>
<div class="col-6 col-lg-2 col-md-3 col-sm-4  p-1">

  <% if Preference.exists?(tag_id: choice.id, user_id: current_user.id, kind: -1, active: true) %>

    <form class="form-inline" >
      <%= link_to preference_deactivate_path(pref), { class: "btn-sm btn-danger w-100 text-center inc-pref", method: "patch",  style: "text-decoration:none;" } do %>
        <span><%= choice.name %></span>
      <% end %>
    </form>

  <% else %>

    <form class="form-inline" >
      <%= link_to preference_tag_path(choice, kind: -1), { class: "btn-sm btn-outline-danger w-100 text-center", method: "post",  style: "text-decoration:none;border:1px solid;" } do %>
        <span><%= choice.name %></span>
      <% end %>
    </form>

  <% end %>

</div>

<% end %>

  </div> -->

  <h5 class="text-muted pt-3">Select from cuisines</h5>
  <div class="row">

<% @cuisines.each do |choice| %>

<% next if Preference.exists?(tag_id: choice.id, user_id: current_user.id, kind: -1, active: true) %>

<div class="col-6 col-lg-2 col-md-3 col-sm-4  p-1">

  <% if Preference.exists?(tag_id: choice.id, user_id: current_user.id, kind: 1, active: true) %>
    <% pref = Preference.find_by(tag_id: choice.id, active: true) %>
    <form class="form-inline" >
      <%= link_to preference_deactivate_path(pref), { class: "btn-sm btn-danger w-100 text-center inc-pref", method: "patch",  style: "text-decoration:none;" } do %>
        <span><%= choice.name %></span>
      <% end %>
    </form>

  <% else %>

    <form class="form-inline" >
      <%= link_to preference_tag_path(choice, kind: 1), { class: "btn-sm btn-outline-danger w-100 text-center no-pref", method: "post",  style: "text-decoration:none;border:1px solid;"} do %>
        <span><%= choice.name %></span>
      <% end %>
    </form>

  <% end %>

</div>

<% end %>

  </div>

   <!-- FOR EXCLUSION OF TAGS ONLY - WE DO NOT DO THIS RIGHT NOW -->

 <!--    <h5 class="text-muted pt-3 pl-2">Cuisines you want to avoid</h5>
  <div class="row container mb-3">

<% @cuisines.each do |choice| %>

<% next if Preference.exists?(tag_id: choice.id, user_id: current_user.id, kind: 1, active: true) %>
<% pref = Preference.find_by(tag_id: choice.id, active: true) %>
<div class="col-6 col-lg-2 col-md-3 col-sm-4  p-1">

  <% if Preference.exists?(tag_id: choice.id, user_id: current_user.id, kind: -1, active: true) %>

    <form class="form-inline" >
      <%= link_to preference_deactivate_path(pref), { class: "btn-sm btn-danger w-100 text-center", method: "patch",  style: "text-decoration:none;" } do %>
        <span><%= choice.name %></span>
      <% end %>
    </form>

  <% else %>

    <form class="form-inline" >
      <%= link_to preference_tag_path(choice, kind: -1), { class: "btn-sm btn-outline-danger w-100 text-center", method: "post",  style: "text-decoration:none;border:1px solid;" } do %>
        <span><%= choice.name %></span>
      <% end %>
    </form>

  <% end %>

</div>

<% end %>

  </div> -->

  <h5 class="text-muted pt-3">Select from dishes</h5>
  <div class="row">

<% @types.each do |choice| %>

<% next if Preference.exists?(tag_id: choice.id, user_id: current_user.id, kind: -1, active: true) %>

<div class="col-6 col-lg-2 col-md-3 col-sm-4  p-1">

  <% if Preference.exists?(tag_id: choice.id, user_id: current_user.id, kind: 1, active: true) %>
    <% pref = Preference.find_by(tag_id: choice.id, active: true) %>
    <form class="form-inline" >
      <%= link_to preference_deactivate_path(pref), { class: "btn-sm btn-info w-100 text-center inc-pref", method: "patch",  style: "text-decoration:none;" } do %>
        <span><%= choice.name %></span>
      <% end %>
    </form>

  <% else %>

    <form class="form-inline" >
      <%= link_to preference_tag_path(choice, kind: 1), { class: "btn-sm btn-outline-info w-100 text-center no-pref", method: "post",  style: "text-decoration:none;border:1px solid;"} do %>
        <span><%= choice.name %></span>
      <% end %>
    </form>

  <% end %>

</div>

<% end %>
<div class="row">
    <div class="d-flex justify-content-center col-12 vw-100">
      <a class="btn btn-primary mt-3 w-100" id="btn-lg" href='/meal_plans/new'>Create Meal Plan</a>
    </div>
</div>
  </div>

   <!-- FOR EXCLUSION OF TAGS ONLY - WE DO NOT DO THIS RIGHT NOW -->

<!--     <h5 class="text-muted pt-3 pl-2">Types of Dishes you want to avoid</h5>
  <div class="row container mb-3">

<% @types.each do |choice| %>

<% next if Preference.exists?(tag_id: choice.id, user_id: current_user.id, kind: 1, active: true) %>
<% pref = Preference.find_by(tag_id: choice.id, active: true) %>
<div class="col-6 col-lg-2 col-md-3 col-sm-4  p-1">

  <% if Preference.exists?(tag_id: choice.id, user_id: current_user.id, kind: -1, active: true) %>

    <form class="form-inline" >
      <%= link_to preference_deactivate_path(pref), { class: "btn-sm btn-danger w-100 text-center", method: "patch",  style: "text-decoration:none;" } do %>
        <span><%= choice.name %></span>
      <% end %>
    </form>

  <% else %>

    <form class="form-inline" >
      <%= link_to preference_tag_path(choice, kind: -1), { class: "btn-sm btn-outline-danger w-100 text-center", method: "post",  style: "text-decoration:none;border:1px solid;" } do %>
        <span><%= choice.name %></span>
      <% end %>
    </form>

  <% end %>

</div>

<% end %>
  </div>

  </div>
    <div class="d-flex justify-content-center">
      <a class="btn btn-primary m-3" id="btn-lg" href='/meal_plans/new'>Back to Meal Plan</a>
    </div>


</div>

